/* stylelint-disable max-line-length */
@font-face {
    font-family: BridgestoneType;
    src: url('https://fonts.bridgestoneresources.com/BridgestoneType-Regular.woff2') format('woff2'),
    url('https://fonts.bridgestoneresources.com/BridgestoneType-Regular.woff') format('woff');
}

@font-face {
    font-family: BridgestoneType-Bold;
    src: url('https://fonts.bridgestoneresources.com/BridgestoneType-Bold.woff2') format('woff2'),
    url('https://fonts.bridgestoneresources.com/BridgestoneType-Bold.woff') format('woff');
}

@font-face {
    font-family: BridgestoneType-Italic;
    src: url('https://fonts.bridgestoneresources.com/BridgestoneType-Italic.woff2') format('woff2'),
    url('https://fonts.bridgestoneresources.com/BridgestoneType-Italic.woff') format('woff');
}

@font-face {
    font-family: BridgestoneType-Medium;
    src: url('https://fonts.bridgestoneresources.com/BridgestoneType-Bold.woff2') format('woff2'),
    url('https://fonts.bridgestoneresources.com/BridgestoneType-Bold.woff') format('woff');
}

@font-face {
    font-family: Decimal;
    src: url('https://fonts.bridgestoneresources.com/DecimalBook_normal_normal.woff2') format('woff2'),
    url('https://fonts.bridgestoneresources.com/DecimalBook_normal_normal.woff') format('woff');
}

@font-face {
    font-family: Decimal-Light;
    src: url('https://fonts.bridgestoneresources.com/DecimalLight_normal_normal.woff2') format('woff2'),
    url('https://fonts.bridgestoneresources.com/DecimalLight_normal_normal.woff') format('woff');
}

@font-face {
    font-family: Decimal-Medium;
    src: url('https://fonts.bridgestoneresources.com/DecimalMedium_normal_normal.woff2') format('woff2'),
    url('https://fonts.bridgestoneresources.com/DecimalMedium_normal_normal.woff') format('woff');
}

@font-face {
    font-family: 'Noto Sans';
    src: url('https://fonts.bridgestoneresources.com/noto-sans-v36-latin-regular.woff2') format('woff2')
}

@font-face {
    font-family: 'Noto Sans Italic';
    src: url('https://fonts.bridgestoneresources.com/noto-sans-v36-latin-italic.woff2') format('woff2')
}

@font-face {
    font-family: 'Noto Sans Bold';
    src: url('https://fonts.bridgestoneresources.com/noto-sans-v36-latin-600.woff2') format('woff2')
}
